.signup-page-container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;

}
.signup-form-container{
    width: 400px;
    backdrop-filter: blur(30px);
    border-radius: 10px;
    padding: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}

/*-------------------------- header style --------------------------------------*/
.header-signup-page{

}
.header-signup-h1{
    font-family: Arial;
    color: #0a0a98;
    font-size: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    text-align: center;
}
/*--------------------------- signup form style----------------------------- */

.signup-form-div{
    padding: 10px 20px 1px 20px;

}

.signup-form{

}

.form-icons{
    font-weight: bold;
    color: #0a0a98;
    font-size: 17px;
}

.signup-button-loading-icon{
    font-weight: bold;
    color: white;
}

/*---------------------- signup footer style ----------------------*/
.signup-footer-page{

}
.signup-button-div{
    display: flex;
    justify-content: center;

}
.signup-button{
    background-color: #0a0a98;
    color: white;
    font-family: Arial;
    font-weight: bold;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 30%;
}

.footer-register{

    margin-top: 9px;
}

.already-member{
    color: black;
    font-weight: bold;
    font-family: Arial;
    font-size: 14px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.signin-now{
    text-decoration: none;
    margin-left: 4px;
    color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*------------------- this style for video background ---------------------*/

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}